body {

}

a:hover { text-decoration: none; }

/* --- Header --- */

#header {
	padding: 20px 0;
	background-color: #1d2023;
}

#header .logo {
	float: left;
	width: 200px;
}

#header .logo img {
	width: 100%;
}

#header .navigation {
	float: right;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#header .navigation li {
	display: block;
	float: left;
	padding: 22px;
	color: #748690;
	font-weight: 300;
	letter-spacing: 0.8px;
}

#header .navigation li a {
	color: #748690;
}

#header .navigation li a:hover {
	color: #fff;
}

/* --- Content --- */

.content {
	width: 1120px;
	margin: 0 auto;
	overflow: hidden;
}

.page {
	width: 1120px;
	margin: 0 auto;
	padding: 70px 0;
	overflow: hidden;
}

.page-title {
	padding: 40px 0;
	overflow: hidden;
	border-bottom: 2px solid #c63d87;
	background-color: #21272c;
}

.page-title .text {
	float: left;
	width: 50%;
	color: #fff;
	font-size: 36px;
	font-weight: 300;
}

.page-title .button {
	float: right;
}

.page-title .button .btn {
	background-color: #c63d87;
	text-align: center;
	font-size: 16px;
	color: #fff;
	padding: 15px 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	transition: all 0.15s ease;
}

.page-title .button .btn:hover {
	background-color: #d24591;
}

/* --- Alerts --- */

.alert {
	position: relative;
	margin: 0;
	padding: 15px;
	font-size: 13px;
	text-align: center;
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.5px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.alert .dismiss {
	float: right;
	width: 24px;
	height: 24px;
	font-size: 13px;
	text-align: center;
	font-weight: 300;
	margin: -2px 0 0 0;
	border: 1px solid #eee;
	vertical-align: top;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	cursor: pointer;
}

.success {
	background-color: #138ee4;
}

.error {
	background-color: #e32d2d;
}

/* --- List --- */

.list {
	padding: 0;
	margin: 0;
}

.list li {
	padding: 25px;
	color: #5b7b85;
	background-color: #f2f7f8;
	overflow: hidden;
}

.list li:nth-child(odd) {
	background-color: #f9fcfd;
}

/* --- Login --- */

#login {
	position: absolute;
	width: 400px;
	left: 50%;
	top: 50%;
	text-align: center;
	margin: -200px 0 0 -200px;
}

#login img {
	width: 280px;
	margin: 0 0 40px 0;
}

#login input {
	width: 100%;
	padding: 20px;
	margin: 0 0 30px 0;
	text-align: center;
	border: 1px solid #eee;
}

#login button {
	width: 100%;
	padding: 25px 20px;
	font-size: 16px;
	color: #fff;
	border: none;
	background-color: #c63d87;
}

/* --- Sessions --- */

#sessions .list li {
	border-left: 1px solid #e2eef2;
	border-right: 1px solid #e2eef2;
	border-bottom: 1px solid #e2eef2;
}

#sessions .list .title { background-color: #fff; border-top: 1px solid #e2eef2; font-weight: bold; cursor: pointer; }
#sessions .list li .name { float: left; width: 25%; }
#sessions .list li .captain { float: left; width: 10%; }
#sessions .list li .goalie { float: left; width: 10%; }
#sessions .list li .code { float: left; width: 15%; }
#sessions .list li .paid { float: left; width: 15%; }
#sessions .list li .assign { float: left; width: 15%; }

#sessions .list li .registration { float: left; width: 17%; }
#sessions .list li .registration .active { color: #20d066; }
#sessions .list li .registration .closed { color: #eb3f3f; }
#sessions .list li .name { float: left; width: 25%; }
#sessions .list li .date { float: left; width: 20%; }

#sessions .list li .email { float: left; width: 25%; }
#sessions .list li .phone { float: left; width: 15%; }
#sessions .list li .cell { float: left; width: 15%; }

#sessions .list li a { margin: 0 15px 0 0; }
#sessions .list li span { padding: 0 20px 0 5px; color: #ddd; }
#sessions .list li .delete { color: #ee3535; }
#sessions .roster { margin: 0 0 40px 0; }
#sessions .list .team { background-color: #fff; border:none; border-top: 1px solid #e2eef2; border-right: 1px solid #e2eef2; border-left: 1px solid #e2eef2; font-weight: bold; }
#sessions .list .team h4 { float: left; display: inline-block; *display: block; }
#sessions .list .team .count { margin: 7px 0 0 0; float: right; font-size: 18px; font-weight: 500; }
#sessions .list .assigned { border-left: 4px solid #c63d87; }

#sessions .registration .delete {
	float: right;
	color: #ee3535;
	border: 1px solid #ee3535;
	width: 25px;
	height: 25px;
	margin: -2px 0 -5px 0;
	font-weight: 300;
	text-align: center;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
}

#sessions .list li .check {
	width: 30px;
	height: 30px;
	margin: -5px 0 -5px 0;
	cursor: pointer;
	background-size: 100%;
	background-image: url('../img/icons/check-unselect.png');
}

#sessions .list li .checked { background-image: url('../img/icons/check-team.png'); }

#sessions .teams {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#sessions .teams li {
	float: left;
	display: block;
	padding: 30px;
	border: 1px solid #eee;
	width: 22.75%;
	margin: 0 3% 3% 0;
	text-align: center;
}

#sessions .teams li:nth-child(4n) {
	margin: 0 0 3% 0;
}

#sessions .teams li .name {
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 20px 0;
	color: #3b484f;
	border-bottom: 1px solid #eee;
}

#sessions .teams li .players {
	font-weight: bold;
	padding: 30px 0;
}

#sessions .teams li .players h1 {
	margin: 0;
	padding: 0;
	color: #3b484f;
}

#sessions .teams li .players h5 {
	margin: 3px 0 0 0;
	padding: 0;
	color: #74848e;
}

#sessions .teams li .button {
	padding: 15px 10px;
	font-size: 15px;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #c63d87;
}

/* --- Users --- */

#users .list li {
	border-left: 1px solid #e2eef2;
	border-right: 1px solid #e2eef2;
	border-bottom: 1px solid #e2eef2;
}

#users .list li .name { float: left; width: 25%; }
#users .list li .email { float: left; width: 25%; }
#users .list li .cell { float: left; width: 15%; }
#users .list li .phone { float: left; width: 15%; }
#users .list .title { background-color: #fff; border-top: 1px solid #e2eef2; font-weight: bold; }
#users .list li .manage { float: right; }
#users .list li .manage span { padding: 0 15px; color: #a2b9c7; }
#users .list li .manage .delete { color: #ee3535; }

#users .pagination {
	position: relative;
	left: 50%;
	margin: 50px 0 0px -240px;
}

#users .input {
	float: left;
	width: 31%;
	margin: 0 3% 3% 0;
}

#users .clear {
	margin: 0 0 3% 0;
}

#users .input h5 {
	margin: 0 0 15px 0;
	padding: 0;
	color: #45545d;
}

#users .input input {
	width: 100%;
	padding: 15px;
}

#users .input select {
	width: 100%;
	padding: 17px;
	border: 1px solid #e1e6e9;
}

#users .bottom {
	padding: 20px;
	margin: 40px 0 0 0;
	overflow: hidden;
	background-color: #f6f8f9;
}

#users .bottom button {
	float: right;
	padding: 20px 25px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	background: #c63d87;
	border: none;
}

/* --- Messaging --- */

#messages .overview {
	float: left;
	width: 30%;
	padding: 35px;
	background-color: #f7fafb;
}

#messages .overview h5 {
	color: #c63d87;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
}

#messages .overview h1 {
	margin: 0;
	padding: 0;
	color: #4b5a63;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
}

#messages .overview .divide {
	height: 1px;
	margin: 35px 0;
	background-color: #ddd;
}

#messages .overview ul {
	margin: 0;
	padding: 0;
}

#messages .overview li {
	display: block;
	padding: 0;
	margin: 0 0 20px 0;
	line-height: 25px;
	color: #76858e;
}

#messages .form {
	float: right;
	width: 65%;
}

#messages .form select {
	float: left;
	width: 47.5%;
	padding: 20px;
	border: 1px solid #dfe8ed;
	margin: 0 5% 5% 0;
}

#messages .form .clear {
	margin: 0 0 5% 0;
}

#messages .form .subject {
	width: 100%;
	padding: 20px;
	margin: 0 0 40px 0;
}

#messages .form textarea {
	height: 300px;
	width: 100%;
	resize: none;
	padding: 30px;
	font-size: 15px;
	border: 1px solid #eee;
}

#messages .form .file {
	padding: 25px;
	margin: 30px 0;
	background-color: #f7fafb;
}

#messages .form button {
	float: right;
	padding: 20px 25px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	background: #c63d87;
	border: none;
}
/* --- Schedule --- */

#schedule .list li {
	border-left: 1px solid #e2eef2;
	border-right: 1px solid #e2eef2;
	border-bottom: 1px solid #e2eef2;
}

#schedule .list .title { background-color: #fff; border-top: 1px solid #e2eef2; font-weight: bold; }
#schedule .list li .name { float: left; width: 30%; }
#schedule .list li .location { float: left; width: 25%; }
#schedule .list li .teams { float: left; width: 15%; }
#schedule .list li .menu { float: right; }
#schedule .list li .menu span { padding: 0 20px; color: #ddd; }

#schedule .list .category {
	background-color: #fff;
	font-weight: normal;
	color: #5b7b85;
	border-top: 1px solid #e2eef2;
}

#schedule .list .category .home { font-weight: normal; color: #5b7b85; }
#schedule .list .category .away { font-weight: normal; color: #5b7b85; }

#schedule .list li .home { float: left; width: 25%; font-weight: bold; color: #9e1f63; }
#schedule .list li .away { float: left; width: 25%; font-weight: bold; color: #9e1f63; }
#schedule .list li .vs { float: left; width: 10%; font-weight: 300; font-style: italic; margin: 0 5% 0 0; }
#schedule .list li .field { float: left; width: 25%; }
#schedule .list li .time { float: left; width: 10%; }

#schedule .title {
	overflow: hidden;
	padding: 30px;
	border-left: 1px solid #e2eef2;
	border-right: 1px solid #e2eef2;
}

#schedule .title h3 {
	float: left;
	display: inline-block;
	*display: inline;
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #3b5259;
	text-transform: uppercase;
}

#schedule .title p {
	float: left;
	display: inline-block;
	*display: inline;
	margin: 0 0 0 30px;
	padding: 0px 0 0 25px;
	border-left: 1px solid #e2eef2;
	font-size: 16px;
	font-weight: 300;
	color: #7e969e;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}

#schedule .title:first-child {
	border-top: 1px solid #e2eef2;
}

#schedule .teams, #schedule .fields {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#schedule .teams li, #schedule .fields li {
	display: block;
	float: left;
	width: 31%;
	border: 1px solid #eee;
	padding: 20px;
	margin: 0 3.333% 3.333% 0;
	cursor: pointer;
}

#schedule .teams li:nth-child(3n), #schedule .fields li:nth-child(3n) { margin: 0 0 3.333% 0; }

#schedule .teams li h5, #schedule .fields li h5 {
	margin: 7px 0 0 0;
	padding: 0;
	color: #5c6b74;
	font-size: 16px;
}

#schedule .teams li .check, #schedule .fields li .check {
	float: left;
	width: 34px;
	height: 34px;
	margin: 0 20px 0 0;
	background-image:url('../img/icons/check-unselect.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

#schedule .teams .checked .check, #schedule .fields .checked .check {
	background-image:url('../img/icons/check-approve.png');
}

#schedule .titling {
	margin: 0 0 40px 0;
	border-bottom: 1px solid #eee;
}

#schedule .titling h4 {
	display: inline-block;
	*display: inline;
	margin: 0 0 0px 0;
	padding: 0 0 20px 0;
	font-size: 28px;
	color: #505e66;
	border-bottom: 1px solid #c63d87;
}

#schedule .options {
	overflow: hidden;
}

#schedule .options input {
	float: left;
	width: 31%;
	padding: 20px;
	margin: 0 3.333% 3.333% 0;
}

#schedule .options select {
	float: left;
	width: 31%;
	padding: 20px;
	margin: 0 3.333% 0 0;
	border: 1px solid #ddd;
}

#schedule .options .clear { margin: 0 0 3.333% 0; }

#schedule .generate {
	padding: 20px;
	margin: 40px 0 0 0;
	overflow: hidden;
	background-color: #f6f9fb;
}

#schedule .generate button {
	float: right;
	padding: 20px 25px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	background: #c63d87;
	border: none;
}

/* --- Fields --- */

#fields .list li {
	border-left: 1px solid #e2eef2;
	border-right: 1px solid #e2eef2;
	border-bottom: 1px solid #e2eef2;
}

#fields .list .title { background-color: #fff; border-top: 1px solid #e2eef2; font-weight: bold; }
#fields .list li .name { float: left; width: 30%; }
#fields .list li .location { float: left; width: 20%; }
#fields .list li .address { float: left; width: 35%; }
#fields .list li a { margin: 0 0 0 25px; }
#fields .list li .delete { color: #ee3535; }
#fields .list li span { padding: 0 0px 0 25px; color: #ddd; }

/* --- Teams --- */

#teams .list li {
	border-left: 1px solid #e2eef2;
	border-right: 1px solid #e2eef2;
	border-bottom: 1px solid #e2eef2;
}

#teams .list .title { background-color: #fff; border-top: 1px solid #e2eef2; font-weight: bold; }
#teams .list li .name { float: left; width: 60%; }
#teams .list li .session { float: left; width: 25%; }
#teams .list li a { margin: 0 0 0 25px; }
#teams .list li .delete { color: #ee3535; }
#teams .list li span { padding: 0 0px 0 25px; color: #ddd; }

/* --- Modal --- */

.modal-dialog {
	width: 400px;
}

.modal-content {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0;
}

.modal-body {
	padding: 0;
}

.modal-body .form {
	padding: 30px;
}

.modal-body .form input {
	width: 100%;
	padding: 18px;
	margin: 0 0 15px 0;
	border: 1px solid #dce0e3;
}

.modal-body .form select {
	width: 100%;
	padding: 18px;
	margin: 0 0 15px 0;
	border: 1px solid #dce0e3;
}

.modal-content button {
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
	transition: all 0.15s ease;
	overflow: hidden;
	background-color: #c63d87;
}

.modal-content img {
	float: left;
	width: 62px;
	padding: 15px;
	margin: 0 -25px 0 0;
	background-color: #b6337a;
}

.modal-content button p {
	margin: 18px 0 0 0px;
	padding: 0;
	color: #fff;
	font-size: 16px;
}

.modal-content button:hover {
	background-color: #b6337a;
}
