body {
	margin: 0;
	padding: 0;
	font-family:"Myriad Pro", Helvetica, Arial, sans-serif;
	font-weight:lighter;
	color:#333;
}

/* --- Header --- */

#header {
	width: 960px;
	margin: 0 auto 40px auto;
	padding: 30px 0;
	overflow: hidden;
	border-bottom: 1px solid #444;
}

#header .logo {
	float: left;
	height: 90px;
}

#header .logo img {
	height: 100%;
}

#header .title {
	float: right;
}

#header .title h1 {
	margin: 30px 0 0 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}

/* --- Content --- */

.content {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/* --- List --- */

.list {
	margin: 0;
	padding: 0;
}

.list li {
	display: block;
	overflow: hidden;
	padding: 20px;
	background-color: #f4f6f8;
}

.list li:nth-child(2n) {
	background-color: #fbfdfe;
}

/* --- Alerts --- */

.alert {
	position: relative;
	margin: 0;
	padding: 15px;
	font-size: 13px;
	text-align: center;
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.5px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.alert .dismiss {
	float: right;
	width: 24px;
	height: 24px;
	font-size: 15px;
	font-weight: 300;
	margin: -2px 0 0 0;
	border: 1px solid #eee;
	vertical-align: top;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	cursor: pointer;
}

.success {
	background-color: #138ee4;
}

.error {
	background-color: #e32d2d;
}

/* --- Register --- */

#register {

}

#register .form {
	overflow: hidden;
}

#register .form .title {
	border-bottom: 1px solid #eee;
	margin: 0 0 50px 0;
}

#register .form .title h1 {
	display: inline-block;
	*display: inline;
	border-bottom: 1px solid #9e1f63;
	padding: 0 0 10px 0;
	margin: 0 0 -1px 0;
}

#register .form .group {
	float: left;
	width: 30%;
	margin: 0 5% 5% 0;
}

#register .form .group h5 {
	display: none;
	color: #666;
	margin: -10px 0 20px 0;
}

#register .form .clear {
	margin: 0 0 5% 0;
}

#register .form .half {
	width: 12.5%;
}

#register .form .space {
	margin: 0 5% 5% 0;
}

#register .form .group input {
	width: 100%;
	padding: 20px;
	font-size: 14px;
	border: 1px solid #eee;
}

#register .form .group select {
	width: 100%;
	padding: 20px;
	font-size: 14px;
	border: 1px solid #eee;
}

#register .form .locations {
	width: 100%;
	padding: 0;
	margin: 0 0 5% 0;
	overflow: hidden;
}

#register .form .locations li {
	display: block;
	margin: 0;
	padding: 20px;
	background-color: #f2f4f8;
	overflow: hidden;
	transition: all 0.15s ease;
}

#register .form .locations li:nth-child(even) {
	background-color: #f6f8fc;
}

#register .form .locations .selected {
	border-left: 3px solid #1edda0;
	padding-left: 17px;
	transition: all 0.15s ease;
}

#register .form .locations .check {
	float: left;
	width: 36px;
	height: 36px;
	margin: 0 20px 0 0;
	transition: all 0.15s ease;
	background-image:url('../img/icons/delivery-check-fade.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

#register .form .locations .checked {
	background-image:url('../img/icons/delivery-check.png');
}

#register .form .locations .location { float: left; width: 55%; font-weight: bold; margin: 7px 0 0 0; font-size: 16px; }
#register .form .locations .name { float: left; width: 25%; margin: 7px 0 0 0; }
#register .form .locations .price { float: right; width: 10%; margin: 7px 0 0 0; }
#register .form .locations .price-total { float: right; width: 15%; padding: 0 0 0 3%; margin: 7px 0 0 0; border-left: 1px solid #ddd; }
#register .form .locations .field { float: left; width: 20%; margin: 7px 0 0 0; }
#register .form .locations .start { float: left; width: 15%; margin: 7px 0 0 0; }

#register .form button {
	float: right;
	border: none;
	color: #fff;
	margin: 0 0 40px 0;
	font-size: 18px;
	padding: 15px 30px;
	background: #9e1f63;
}

#register .waiver p {
	line-height: 30px;
	color: #5d626e;
	margin: 0 0 30px 0;
}

#register .waiver button {
	float: left;
	border: none;
	color: #fff;
	margin: 0 0 40px 0;
	font-size: 18px;
	padding: 15px 30px;
	background: #9e1f63;
}

#register .details .text {
	float: left;
}

#register .details .text h5 {
	margin: 0 0 3px 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
	color: #9e1f63;
}

#register .details .text h4 {
	margin: 0;
	padding: 0;
	font-size: 22px;
}

#register .details {
	margin: -20px 0 20px 0;
	padding: 20px 0;
	overflow: hidden;
}

#register .details .price {
	float: right;
	padding: 0 30px;
	border-left: 1px solid #eee;
}

#register .details .price h1 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

#register .details .price h5 {
	margin: 0;
	padding: 0;
}

#register .checkout {
	width: 100%;
	padding: 40px;
	overflow: hidden;
	background-color: #f6f8fc;
}

#register .checkout .card {
	padding: 20px;
	margin: 0 0 3% 0;
	background-color: #fff;
	border: 1px solid #eee;
}

#register .checkout .card input {
	border: none;
	width: 66%;
	margin: 2px 0 0 20px;
	font-size: 16px;
	letter-spacing: 0.5px;
}

#register .checkout .card img {
	float: left;
	width: 28px;
}

#register .checkout .cvc {
	float: left;
	width: 30%;
	padding: 20px;
	margin: 0 0 0 0;
	background-color: #fff;
	border: 1px solid #eee;
}

#register .checkout .cvc input {
	width: 100%;
	border: none;
}

#register .checkout .date {
	float: left;
	width: 32%;
	padding: 20px;
	margin: 0 0% 0 3%;
	background-color: #fff;
	border: 1px solid #eee;
}

#register .checkout .date select {
	width: 100%;
	border: none;
}

#register .checkout button {
	float: right;
	border: none;
	color: #fff;
	margin: 3% 0 0px 0;
	font-size: 18px;
	padding: 15px 30px;
	background: #9e1f63;
}

#register .checkout .cards {
	float: left;
	margin: 30px 0 0 0;
}

#register .checkout .cards img {
	width: 56px;
}

#register .disclaimer {
	text-align: center;
	padding: 30px 0;
	overflow: hidden;
	color: #888;
	font-size: 13px;
	letter-spacing: 0.4px;
	font-weight: light;
}

#register .thankyou {
	text-align: center;
	padding: 150px 0;
}

#register .thankyou .button {
	width: 500px;
	color: #fff;
	margin: 30px auto 40px auto;
	font-size: 18px;
	padding: 25px 30px;
	background: #9e1f63;
}

/* --- Registrations --- */

#registrations {
	margin: 0;
	padding: 0;
}

#registrations .
